{% extends "sub_base.html.html" %}

{% load static %}

{% block title %}
درباره ما - پیوند تجارت جنوب
{% endblock title %}

{% block text-part %}

<div class="text-part">
    <h2 class="title">
        ما کی هستیم؟
    </h2>
    <p>
        شرکت بازرگانی پیوند تجارت جنوب با سابقه بلندمدت در عرصه‌ی ترخیص کالا، صادرات، واردات، ترانزیت،
        و کلیه امور گمرکی، به عنوان یک مرجع معتبر و قابل اعتماد در زمینه‌ی خدمات بازرگانی است.
    </p>
</div>
<img src="{% static "main/images/contact.jpg" %}" id="contact-image-desktop" style="height: 450px; width: 900px; margin-bottom: 100px;">
<img src="{% static "main/images/contact.jpg" %}" id="contact-image-mobile" style="height: 450px; width: 900px; margin-bottom: 100px;">
<div class="text-part">
    <h2 class="title">
        چرا باید مارو انتخاب کنید؟
    </h2> 
    <p>
        با تلاش بی‌وقفه و تعهد به اصول حرفه‌ای، شرکت ما به عنوان نمادی از اعتماد و کیفیت در عرصه بازرگانی شناخته شده است. از نخستین روز تا به امروز، ماموریت ما تبدیل چالش‌ها به فرصت‌ها و ارائه راه‌حل‌های نوآورانه برای مشتریانمان بوده است.  
    </p>
</div>

{% endblock text-part %}