{% extends "sub_base.html" %}

{% load static %}

{% block title %}ارتباط با ما - پیوند تجارت جنوب{% endblock title %}

{% block text-part %}

<div class="text-part">
    <h2 class="title">
        روش های ارتباط با ما اینجوریه...
    </h2>
    <p>
        شما میتوانید از طریق واتساپ، تلگرام، تماس و ایمیل با تیم بزرگ پیوند تجارت جنوب تماس برقرار کنید و از خدمات ما بهره ببرید.
        برای گرفتن مشاوره و دریافت پاسخ به سوالات خود‌ میتوانید با شماره تماس ما و یا ایمیل مجموعه تماس برقرار کنید:
        <br><span style="color: #123690;">شماره تماس مجموعه: ‏ 09174395205 </span>
        <br><span style="color: #123690;">ایمیل مجموعه: peyvandtejaratjonoob@gmail.com</span>

        <br>شما میتوانید برای دریافت خدمات و مشاوره انلاین با واتساپ‌، تلگرام و اینستاگرام مجموعه ارتباط برقرار کنید:
        <br><a id="what" href="https://wa.me/+989174395205" target="_blank"><i class="fa fa-whatsapp" style="color: #123690; font-size:15px;">  واتساپ مجموعه  </i></a>
        <br><a id="insta" href="" target="_blank"><i class="fa fa-instagram" style="color: #123690; font-size:15px;">تلگرام مجموعه</i> </a> 
        <br><a id="insta" href="" target="_blank"><i class="fa fa-instagram" style="color: #123690; font-size:15px;">اینستاگرام مجموعه</i> </a> 
        <br>تیم پیوند‌ تجارت جنوب ۲۴ ساعت شبانه روز پاسخ‌گوی شما میباشد.
        <br>
        پیشرو در خدمات گمرکی...
    </p> 
</div>
<img src="{% static "main/images/contact.jpg" %}" id="contact-image-desktop" style="height: 450px; width: 900px; margin-bottom: 100px;">
<img src="{% static "main/images/contact.jpg" %}" id="contact-image-mobile" style="height: 450px; width: 900px; margin-bottom: 100px;">
<div class="text-part">
    <h2 class="title">
        چرا باید مارو انتخاب کنید؟
    </h2>
    <p>
        "شرکت ما، با تکیه بر سال‌ها تجربه و بهره‌گیری از شبکه‌های تجاری گسترده، به دنبال دستیابی به بهترین نتایج برای مشتریان خود است. ما به اصول حرفه‌ای و رضایت مشتریان پایبندیم و همواره تلاش می‌کنیم تا بهترین خدمات را ارائه دهیم."
    </p>
</div>

{% endblock text-part %}
