{% extends "base.html" %}

{% load static %}

{% block title %}
شرکت بازرگانی پیوند تجارت جنوب
{% endblock title %}

{% block text-part %}
<div class="text-part">
  <h2 class="title">درباره شرکت ما</h2>

  <p dir="rtl">شرکت بازرگانی پیوند تجارت جنوب (peyvand tejarat jonoob) با نام تجاری (PTJ) با شماره ثبت (24571) ارائه دهنده خدمات گمرکی و بازرگانی است.
  <br>این شرکت با داشتن کادری مجرب و باتجربه و با سابقه ی درخشان در امور گمرکی اعم از صادرات، واردات، ترانزیت و ترخیص کالا همواره در حال خدمت رسانی است.
  <br>ما به سرعت و با دقت بالا به نیازهای مشتریان پاسخ می‌دهیم.
  </p>
  <img src="{% static "main/images/keshti.jpg" %}" id="keshti-desktop" style="width: 600px; height: 300px; margin-bottom: 50px;">
  <img src="{% static "main/images/keshti.jpg" %}" id="keshti-mobile">
</div>
<div class="text-part">
  <h2 class="title">چرا ما؟ ...</h2>
  <p>
    تیم ما با داشتن هیئت مدیره قوی و افرادی فعال همیشه در حال انجام کار و امور شما است.
    <br>
     با تلاش بی‌وقفه و تعهد به اصول حرفه‌ای، شرکت ما به عنوان نمادی از اعتماد و کیفیت در عرصه بازرگانی شناخته شده است. از نخستین روز تا به امروز، ماموریت ما تبدیل چالش‌ها به فرصت‌ها و ارائه راه‌حل‌های نوآورانه برای مشتریانمان بوده است.

    <br>
    ما همواره در جستجوی روش‌های جدید و بهتر برای ارائه خدمات به مشتریانمان هستیم.
  </p>
</div>
<div class="text-part" style="margin-bottom: 0px;">
  <h2 class="title">ما چه خدماتی رو به شما ارائه میکنیم؟<h2>
  <ul  class="list">
    <li>صادرات کالا</li>
    <li>واردات کالا</li>
    <li>ترانزیت کالا</li>
    <li>ترخیص کالا</li>
    <li>اخذ مجوزهای مربوطه</li>
  </ul>
</div>
{% endblock text-part %}
