{% extends "blog/blog_base.html" %}

{% load static %}

{% block title-header %}
{{show_blog.title}}
{% endblock title-header %}

{% block auther-part %}

<div class="auther-part">
    <span class="auther">نویسنده : {% block auther %} {{show_blog.auther}} {% endblock auther %}</span>
    <span class="blog_date">تاریخ انتشار: {% block blog_date %}{{show_blog.date}}{% endblock blog_date %}</span> 
</div>
<hr class="auther-line">

{% endblock auther-part %}

{% block title %} {{show_blog.title}} {% endblock title %}

{% block content %} {{show_blog.content}} {% endblock content %}