{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "main/css/404.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="text_group">
          <p class="text_404">404</p>
          <p class="text_lost" dir="rtl">در حال به روز رسانی این صفحه هستیم<br />به زودی برمیگردیم.</p>
          <p class="text-lost" dir="rtl"> <a href="{% static "index.html" %}" style="text-decoration: none; color: rgb(1, 4, 87);"> رفتن به صفحه اصلی</a></p>
        </div>
        <div class="window_group">
          <div class="window_404">
            <div class="stars"></div>
          </div>
        </div>
      </div>
      <script src="{% static "main/js/404.js" %}"></script>
</body>
</html>